<h2>Sing up</h2>
<p>You can sign up to our Barber Shop on this page.</p>
<form action="/visit" method="POST">

  <div class="form-group">
    <label for="exampleFormControlSelect1">Select a headresser</label>
    <select name="headresser" class="form-control" id="exampleFormControlSelect1">
      <option value="Any headresser"> Any headresser</option>
      <option value="Walter White">Walter White</option>
      <option value="Jessie Pinkman">Jessie Pinkman</option>
      <option value="Gus Fring">Gus Fring</option>
    </select>
  </div>

  <div class="form-group">
    <label >Your name</label>
    <input name="client_name" type="text" class="form-control" placeholder="Enter your name">
  </div>

    <div class="form-group">
    <label >Your phone</label>
    <input name="client_phone" type="text" class="form-control" placeholder="Enter your phone">
  </div>

    <div class="form-group">
    <label >Date and Time</label>
    <input name="date_time" type="text" class="form-control" placeholder="Enter desired time">
  </div>

 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>